
.idea/inspectionProfiles/Project_Default.xml
Utils/__pycache__/__init__.cpython-36.pyc
Utils/__pycache__/anchors.cpython-36.pyc
Net/__pycache__/VGG.cpython-36.pyc
Net/__pycache__/SSD500.cpython-36.pyc
*.pyc
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/SSD500.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.DS_Store
summary/events.out.tfevents.1518461884.Nomans-MBP
summary/events.out.tfevents.1518462042.Nomans-MBP
ckpt/0.data-00000-of-00001
ckpt/0.index
ckpt/0.meta
